#landingPage{


  #services {
    -webkit-font-smoothing: antialiased; }
    #services #hero {
      margin-top: 70px; }
      @media (min-width: 992px) {
        #services #hero .row {
          border-bottom: 1px solid #E6E6E8; } }
      @media (max-width: 991px) {
        #services #hero .image img {
          margin: 0 auto; } }
      @media (min-width: 992px) {
        #services #hero .info {
          padding-left: 60px; } }
      @media (max-width: 991px) {
        #services #hero .info {
          text-align: center; } }
      #services #hero .info h3 {
        font-family: Myriad Pro, Lato, Helvetica Neue, Arial;
        font-weight: 500;
        margin-top: 70px;
        font-size: 28px; }
      #services #hero .info p {
        color: #666;
        margin-top: 15px;
        line-height: 23px; }
        @media (min-width: 992px) {
          #services #hero .info p {
            width: 85%; } }
    #services #tabs {
      margin-top: 110px; }
      @media (max-width: 991px) {
        #services #tabs {
          margin-top: 70px; } }
      #services #tabs .hexagons {
        text-align: center; }
        #services #tabs .hexagons .hexagon {
          background: url("../../images/hexagon.png") 0 0 no-repeat;
          width: 100px;
          height: 113px;
          position: relative;
          display: inline-block;
          margin-right: 60px;
          cursor: pointer; }
          @media (max-width: 991px) {
            #services #tabs .hexagons .hexagon {
              margin: 0; } }
          #services #tabs .hexagons .hexagon:hover, #services #tabs .hexagons .hexagon.active {
            background-position: 0 -117px; }
            #services #tabs .hexagons .hexagon:hover .icon, #services #tabs .hexagons .hexagon.active .icon {
              color: #fff; }
          #services #tabs .hexagons .hexagon:last-child {
            margin-right: 0px; }
          #services #tabs .hexagons .hexagon .icon {
            font-size: 48px;
            color: #80939b;
            position: absolute;
            top: 32px;
            left: 0;
            right: 0;
            text-align: center; }
      #services #tabs .sections {
        margin-top: 35px;
        position: relative;
        height: 220px; }
        #services #tabs .sections .section {
          display: none;
          position: absolute; }
          #services #tabs .sections .section.active {
            display: block; }
          #services #tabs .sections .section h4 {
            margin-bottom: 18px; }
          #services #tabs .sections .section p {
            line-height: 25px; }
    #services #grid-first {
      margin-top: 30px; }
      #services #grid-first .header {
        border-top: 1px solid #E6E6E8;
        padding-top: 55px;
        text-align: center; }
        #services #grid-first .header h3 {
          font-size: 25px;
          color: #555C68;
          line-height: 25px;
          font-weight: 400;
          margin-bottom: 13px; }
        #services #grid-first .header p {
          font-size: 16px;
          font-weight: 400;
          color: #888; }
      #services #grid-first .sections {
        margin-top: 45px; }
        #services #grid-first .sections .section {
          text-align: center; }
          @media (max-width: 991px) {
            #services #grid-first .sections .section {
              margin-bottom: 40px; } }
          #services #grid-first .sections .section .pic {
            display: inline-block;
            padding: 15px;
            background: #f5f5f5;
            box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.45), inset 0px 0px 1px 1px white; }
          #services #grid-first .sections .section .info {
            margin-top: 25px;
            text-align: center; }
            @media (min-width: 992px) {
              #services #grid-first .sections .section .info {
                margin-left: 45px;
                width: 80%;
                text-align: left; } }
            #services #grid-first .sections .section .info strong {
              font-weight: 500;
              font-size: 18px;
              color: #555; }
            #services #grid-first .sections .section .info p {
              color: #666;
              margin-top: 15px;
              line-height: 22px; }
    #services #grid-second {
      margin-top: 80px; }
      @media (max-width: 991px) {
        #services #grid-second {
          margin-top: 50px; } }
      #services #grid-second .header {
        border-top: 1px solid #E6E6E8;
        padding-top: 55px;
        margin-bottom: 35px; }
        #services #grid-second .header h3 {
          font-size: 27px;
          font-family: Myriad Pro, Lato, Helvetica Neue, Arial;
          color: #444;
          line-height: 25px;
          font-weight: 500;
          margin-bottom: 7px; }
          @media (max-width: 991px) {
            #services #grid-second .header h3 {
              text-align: center; } }
        #services #grid-second .header p {
          font-size: 15px;
          font-weight: 400;
          color: #666;
          width: 50%;
          line-height: 24px;
          margin-top: 15px; }
          @media (max-width: 991px) {
            #services #grid-second .header p {
              margin: 0 auto;
              width: 90%;
              text-align: center; } }
      #services #grid-second .features {
        margin-bottom: 20px; }
        @media (max-width: 991px) {
          #services #grid-second .features .feature {
            text-align: center;
            margin-bottom: 30px; } }
        #services #grid-second .features .feature img {
          max-width: 40px;
          position: relative;
          top: 10px; }
          @media (min-width: 992px) {
            #services #grid-second .features .feature img {
              float: left; } }
        @media (min-width: 992px) {
          #services #grid-second .features .feature .info {
            float: left;
            width: 80%;
            margin-left: 20px; } }
        #services #grid-second .features .feature .info strong {
          display: block;
          font-weight: 500;
          font-size: 16px;
          color: #444;
          margin-top: 15px; }
        #services #grid-second .features .feature .info p {
          font-weight: normal;
          font-size: 14px;
          color: #797979;
          margin-top: 10px;
          line-height: 24px; }
    #services #features-hover {
      margin-top: 120px; }
      @media (max-width: 991px) {
        #services #features-hover {
          margin-top: 60px; } }
      #services #features-hover .images {
        height: 355px; }
        @media (max-width: 767px) {
          #services #features-hover .images {
            height: 300px; } }
        #services #features-hover .images img {
          margin: 0 auto;
          position: absolute;
          left: 0;
          right: 0;
          display: none; }
          #services #features-hover .images img.active {
            display: block; }
      #services #features-hover .features {
        margin-top: 50px; }
        @media (max-width: 991px) {
          #services #features-hover .features {
            margin-top: 0px; } }
        #services #features-hover .features .feature {
          cursor: pointer; }
          @media (min-width: 992px) {
            #services #features-hover .features .feature {
              width: 85%;
              margin: 0 auto; } }
          #services #features-hover .features .feature.active strong, #services #features-hover .features .feature:hover strong {
            color: #58B0D5; }
          #services #features-hover .features .feature.active p, #services #features-hover .features .feature:hover p {
            color: #555; }
          #services #features-hover .features .feature strong {
            color: #b6b6b6;
            font-size: 16px;
            -webkit-transition: color 0.2s linear;
            -moz-transition: color 0.2s linear;
            -ms-transition: color 0.2s linear;
            -o-transition: color 0.2s linear;
            transition: color 0.2s linear; }
          #services #features-hover .features .feature p {
            margin-top: 15px;
            line-height: 25px;
            color: #b6b6b6;
            -webkit-transition: color 0.2s linear;
            -moz-transition: color 0.2s linear;
            -ms-transition: color 0.2s linear;
            -o-transition: color 0.2s linear;
            transition: color 0.2s linear; }
    #services #cta {
      margin-top: 120px; }
      #services #cta .wrapper {
        background: #F7F8FB;
        border: 1px solid #EAEDF7;
        border-radius: 8px;
        padding: 30px 60px;
        box-shadow: inset rgba(100, 100, 100, 0.25) 0 1px 1px;
        margin: 0 auto; }
        @media (max-width: 991px) {
          #services #cta .wrapper {
            text-align: center; } }
      #services #cta h4 {
        font-size: 20px;
        color: #5F6E7C;
        font-weight: 400;
        float: left;
        text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8); }
        @media (max-width: 767px) {
          #services #cta h4 {
            font-size: 17px;
            line-height: 23px; } }
      #services #cta .button {
        float: right; }
        @media (max-width: 991px) {
          #services #cta .button {
            float: none;
            margin-top: 20px; } }


  #pricing #first-option {
    margin-top: 40px;
    margin-bottom: 130px;
    -webkit-font-smoothing: antialiased; }
    #pricing #first-option .header {
      text-align: center; }
      #pricing #first-option .header h3 {
        font-size: 23px;
        color: #444;
        line-height: 25px;
        font-weight: 500;
        margin-bottom: 7px; }
      #pricing #first-option .header p {
        font-size: 16px;
        font-weight: 400;
        color: #888; }
    #pricing #first-option .charts {
      margin-top: 45px; }
      #pricing #first-option .charts .chart {
        background-color: #fff;
        border: 1px solid #D8D8D8;
        border-radius: 5px;
        box-shadow: 0px 0px 2px 0px rgba(181, 181, 181, 0.3);
        padding: 20px 40px;
        position: relative;
        text-align: center;
        width: 97%;
        min-height: 315px;
        position: relative;
        top: 20px; }
        @media (min-width: 992px) {
          #pricing #first-option .charts .chart.first {
            float: right;
            left: 45px; }
          #pricing #first-option .charts .chart.last {
            left: -45px; } }
        @media (max-width: 991px) {
          #pricing #first-option .charts .chart {
            float: none !important;
            left: 0px !important;
            top: 0px !important;
            margin: 0 auto;
            width: 55%;
            margin-bottom: 25px !important; }
            #pricing #first-option .charts .chart.last {
              margin-bottom: 0px !important; } }
        @media (max-width: 600px) {
          #pricing #first-option .charts .chart {
            width: 90% !important; } }
        #pricing #first-option .charts .chart.featured {
          z-index: 999; }
          @media (min-width: 992px) {
            #pricing #first-option .charts .chart.featured {
              margin: 0 auto;
              top: 0px;
              min-height: 445px; }
              #pricing #first-option .charts .chart.featured .btn-signup {
                margin-top: 32px; } }
          #pricing #first-option .charts .chart.featured .popular {
            position: absolute;
            top: 0px;
            left: 0px; }
          #pricing #first-option .charts .chart.featured .quantity {
            margin-top: 15px;
            padding-bottom: 5px; }
        #pricing #first-option .charts .chart .plan-name {
          text-align: center;
          font-size: 20px;
          font-weight: 400;
          color: #444;
          width: 90%;
          margin: 0 auto;
          margin-top: 5px; }
        #pricing #first-option .charts .chart .quantity {
          text-align: center;
          border-bottom: 1px solid #d5d5d5;
          margin-top: 10px; }
          #pricing #first-option .charts .chart .quantity .dollar {
            font-size: 19px;
            position: relative;
            top: -18px; }
          #pricing #first-option .charts .chart .quantity .price {
            font-size: 49px; }
          #pricing #first-option .charts .chart .quantity .period {
            font-size: 17px;
            position: relative;
            top: -8px;
            margin-left: 4px; }
        #pricing #first-option .charts .chart .specs {
          margin-top: 20px; }
          #pricing #first-option .charts .chart .specs .spec {
            font-size: 15px;
            color: #474747;
            text-align: center;
            font-weight: 300;
            margin-bottom: 13px; }
            #pricing #first-option .charts .chart .specs .spec .variable {
              color: #1FBEE7;
              font-weight: 500; }
        #pricing #first-option .charts .chart .btn-signup {
          margin-top: 20px;
          height: 38px; }
    #pricing #first-option .message p {
      text-align: center;
      font-size: 13px;
      color: #656565;
      margin-top: 23px; }
    #pricing #first-option .faq {
      margin-top: 40px; }
      #pricing #first-option .faq .header h3 {
        font-size: 20px;
        color: #454545;
        text-align: left; }
      #pricing #first-option .faq .questions {
        margin-top: 25px; }
        #pricing #first-option .faq .questions .question {
          margin-bottom: 40px; }
          @media (min-width: 992px) {
            #pricing #first-option .faq .questions .question {
              width: 90%; } }
          #pricing #first-option .faq .questions .question strong {
            font-weight: 500;
            font-size: 16px;
            color: #454545; }
          #pricing #first-option .faq .questions .question p {
            color: #555;
            margin-top: 10px;
            font-size: 13px;
            line-height: 22px; }
    #pricing #first-option .contact {
      margin-top: 40px; }
      #pricing #first-option .contact .wrapper {
        background: #F7F8FB;
        border: 1px solid #EAEDF7;
        border-radius: 8px;
        padding: 25px 60px;
        box-shadow: inset rgba(100, 100, 100, 0.25) 0 1px 1px;
        margin: 0 auto; }
      #pricing #first-option .contact h4 {
        font-size: 15px;
        position: relative;
        color: #696E72;
        text-align: center;
        font-weight: 500;
        text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8); }
        @media (max-width: 991px) {
          #pricing #first-option .contact h4 {
            line-height: 26px; } }
        #pricing #first-option .contact h4 span {
          position: absolute;
          font-size: 23px;
          top: -5px;
          left: 72px;
          color: #626E7A; }
          @media (max-width: 991px) {
            #pricing #first-option .contact h4 span {
              position: relative;
              left: 0px;
              top: 5px; } }
  #pricing #second-option {
    -webkit-font-smoothing: antialiased;
    border-top: 1px solid #EAEAEA;
    border-bottom: 1px solid #EAEAEA;
    background: #5E7A9B;
    background: -webkit-linear-gradient(top, #355069 0, #5e7a9b 100%);
    background: -moz-linear-gradient(top, #355069 0, #5e7a9b 100%);
    background: -o-linear-gradient(top, #355069 0, #5e7a9b 100%);
    background: linear-gradient(top, #355069 0, #5e7a9b 100%);
    margin-top: 110px;
    padding-top: 25px;
    padding-bottom: 50px; }
    #pricing #second-option .header {
      text-align: center; }
      @media (max-width: 991px) {
        #pricing #second-option .header {
          margin-bottom: 25px; } }
      #pricing #second-option .header h3 {
        font-size: 23px;
        color: #fff;
        line-height: 25px;
        font-weight: 400;
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); }
      #pricing #second-option .header p {
        font-size: 16px;
        color: #F0F0F0;
        font-weight: 400;
        line-height: 25px;
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); }
    #pricing #second-option .charts {
      margin-top: 30px; }
      @media (max-width: 991px) {
        #pricing #second-option .charts {
          margin-top: 10px; } }
      #pricing #second-option .charts .chart {
        background-color: #fff;
        border: 1px solid #E6E6E6;
        border-radius: 5px;
        box-shadow: 0px 0px 2px 0px rgba(181, 181, 181, 0.3);
        padding: 20px 40px;
        position: relative;
        text-align: center;
        width: 97%;
        min-height: 315px;
        position: relative;
        top: 37px; }
        @media (max-width: 991px) {
          #pricing #second-option .charts .chart {
            float: none !important;
            left: 0px !important;
            top: 0px !important;
            margin: 0 auto;
            width: 55%;
            margin-bottom: 25px !important; }
            #pricing #second-option .charts .chart.last {
              margin-bottom: 0px !important; } }
        @media (max-width: 600px) {
          #pricing #second-option .charts .chart {
            width: 90% !important; } }
        #pricing #second-option .charts .chart.first {
          float: right;
          left: 12px; }
        #pricing #second-option .charts .chart.last {
          left: -12px; }
        #pricing #second-option .charts .chart.featured {
          min-height: 350px;
          top: 0px;
          margin: 0 auto; }
          #pricing #second-option .charts .chart.featured .popular {
            text-align: center;
            text-transform: uppercase;
            font-size: 16px;
            letter-spacing: 1px;
            color: #B1B1B1;
            font-weight: 400; }
          #pricing #second-option .charts .chart.featured .quantity {
            margin-top: 15px; }
        #pricing #second-option .charts .chart .quantity {
          text-align: center; }
          #pricing #second-option .charts .chart .quantity .dollar {
            font-size: 19px;
            position: relative;
            top: -18px; }
          #pricing #second-option .charts .chart .quantity .price {
            font-size: 49px; }
          #pricing #second-option .charts .chart .quantity .period {
            font-size: 17px;
            position: relative;
            top: -8px;
            margin-left: 4px; }
        #pricing #second-option .charts .chart .plan-name {
          text-align: center;
          font-size: 20px;
          font-weight: 400;
          color: #777;
          border-bottom: 1px solid #d5d5d5;
          padding-bottom: 15px;
          width: 90%;
          margin: 0 auto;
          margin-top: 8px; }
        #pricing #second-option .charts .chart .specs {
          margin-top: 20px; }
          #pricing #second-option .charts .chart .specs .spec {
            font-size: 15px;
            color: #474747;
            text-align: center;
            font-weight: 300;
            margin-bottom: 13px; }
            #pricing #second-option .charts .chart .specs .spec .variable {
              color: #1FBEE7;
              font-weight: 400; }
        #pricing #second-option .charts .chart .btn-signup {
          margin-top: 20px;
          height: 38px; }
  #pricing #third-option {
    margin-top: 55px;
    margin-bottom: 150px;
    -webkit-font-smoothing: antialiased; }
    #pricing #third-option .header {
      text-align: center; }
      #pricing #third-option .header h3 {
        font-size: 22px;
        color: #444;
        line-height: 25px;
        font-weight: 500;
        margin-bottom: 7px; }
      #pricing #third-option .header p {
        font-size: 16px;
        font-weight: 400;
        color: #888; }
    @media (min-width: 992px) {
      #pricing #third-option .container {
        width: 1060px; } }
    #pricing #third-option .charts {
      margin-top: 50px; }
      #pricing #third-option .charts .basic-plan {
        background-color: #fff;
        border: 1px solid #E6E6E6;
        border-radius: 5px;
        box-shadow: 0px 0px 2px 0px rgba(181, 181, 181, 0.3);
        padding: 20px 30px 10px 30px;
        text-align: center;
        width: 220px;
        position: absolute;
        right: 0px;
        top: 20px; }
        @media (max-width: 991px) {
          #pricing #third-option .charts .basic-plan {
            float: none !important;
            left: 0px !important;
            top: 0px !important;
            margin: 0 auto;
            width: 55%;
            margin-bottom: 25px !important;
            position: relative;
            margin-top: 30px; }
            #pricing #third-option .charts .basic-plan.last {
              margin-bottom: 0px !important; } }
        @media (max-width: 600px) {
          #pricing #third-option .charts .basic-plan {
            width: 90% !important; } }
        #pricing #third-option .charts .basic-plan .plan-name {
          text-align: center;
          font-size: 17px;
          font-weight: 400;
          color: #444;
          width: 90%;
          margin: 0 auto;
          margin-top: 5px; }
        #pricing #third-option .charts .basic-plan .quantity {
          text-align: center;
          border-bottom: 1px solid #d5d5d5;
          margin-top: 5px; }
          #pricing #third-option .charts .basic-plan .quantity .dollar {
            font-size: 19px;
            position: relative;
            top: -18px; }
          #pricing #third-option .charts .basic-plan .quantity .price {
            font-size: 42px; }
          #pricing #third-option .charts .basic-plan .quantity .period {
            font-size: 17px;
            position: relative;
            top: -8px;
            margin-left: 4px; }
        #pricing #third-option .charts .basic-plan .description {
          margin-top: 15px;
          font-size: 13px;
          color: #444;
          line-height: 20px; }
          #pricing #third-option .charts .basic-plan .description a {
            display: block;
            margin-top: 15px;
            font-size: 14px; }
      #pricing #third-option .charts .chart {
        background-color: #fff;
        border: 1px solid #E6E6E6;
        border-radius: 5px;
        box-shadow: 0px 0px 2px 0px rgba(181, 181, 181, 0.3);
        padding: 20px 40px;
        position: relative;
        text-align: center;
        width: 280px;
        float: left;
        min-height: 315px;
        position: relative;
        top: 20px; }
        @media (min-width: 992px) {
          #pricing #third-option .charts .chart.featured {
            left: -25px; }
          #pricing #third-option .charts .chart.last {
            left: -45px; } }
        @media (max-width: 991px) {
          #pricing #third-option .charts .chart {
            float: none !important;
            left: 0px !important;
            top: 0px !important;
            margin: 0 auto;
            width: 55%;
            margin-bottom: 25px !important; }
            #pricing #third-option .charts .chart.last {
              margin-bottom: 0px !important; } }
        @media (max-width: 600px) {
          #pricing #third-option .charts .chart {
            width: 90% !important; } }
        #pricing #third-option .charts .chart.featured {
          z-index: 999; }
          @media (min-width: 992px) {
            #pricing #third-option .charts .chart.featured {
              margin: 0 auto;
              top: 0px;
              min-height: 445px; }
              #pricing #third-option .charts .chart.featured .btn-signup {
                margin-top: 32px; } }
          #pricing #third-option .charts .chart.featured .popular {
            position: absolute;
            top: 0px;
            left: 0px; }
          #pricing #third-option .charts .chart.featured .quantity {
            margin-top: 15px;
            padding-bottom: 5px; }
        #pricing #third-option .charts .chart .plan-name {
          text-align: center;
          font-size: 20px;
          font-weight: 400;
          color: #444;
          width: 90%;
          margin: 0 auto;
          margin-top: 5px; }
        #pricing #third-option .charts .chart .quantity {
          text-align: center;
          border-bottom: 1px solid #d5d5d5;
          margin-top: 10px; }
          #pricing #third-option .charts .chart .quantity .dollar {
            font-size: 19px;
            position: relative;
            top: -18px; }
          #pricing #third-option .charts .chart .quantity .price {
            font-size: 49px; }
          #pricing #third-option .charts .chart .quantity .period {
            font-size: 17px;
            position: relative;
            top: -8px;
            margin-left: 4px; }
        #pricing #third-option .charts .chart .specs {
          margin-top: 20px; }
          #pricing #third-option .charts .chart .specs .spec {
            font-size: 15px;
            color: #474747;
            text-align: center;
            font-weight: 300;
            margin-bottom: 13px; }
            #pricing #third-option .charts .chart .specs .spec .variable {
              color: #1FBEE7;
              font-weight: 400; }
        #pricing #third-option .charts .chart .btn-signup {
          margin-top: 20px;
          height: 38px; }

}
