// #newUserPage{
//   .new-user {
//     .form-wrapper {
//       .with-sidebar {
//         border-right: 1px solid #edeef1;
//         box-shadow: 4px 0px 3px -1px rgba(226, 226, 226, 0.1);
//       }
//     }
//
//     /* form sidebar*/
//     .form-sidebar {
//       .alert {
//         margin: 10px 0px 30px 0px;
//         i {
//           margin-bottom: 30px;
//         }
//       }
//       h6 {
//         font-weight: 600;
//         text-transform: uppercase;
//       }
//       p {
//         color: #777e86;
//       }
//       ul {
//         margin: 0;
//         padding: 0;
//         list-style: none;
//         a {
//           text-decoration: underline;
//         }
//       }
//     }
//   }
//
//   /* responsive */
//
//   @media (max-width: 991px) {
//     .new-user {
//       .form-wrapper {
//         .with-sidebar {
//           border-right: 0 none;
//           box-shadow: none;
//         }
//       }
//       .form-sidebar {
//         margin-top: 40px;
//       }
//     }
//   }
//
// }
